<%= form_with(model: cliente) do |form| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
        <% cliente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   
  <div class="row">
       <div class="col-lg-5 form-group">   
           <%= form.label :nome, :class => 'control-label required' %>
           <%= form.text_field :nome,  :class => 'form-control' %>
       </div>
      
       <div class="col-lg-3 form-group">   
       <%= form.label :cpf, :class => 'control-label required' %>
       <%= form.text_field :cpf,  :class => 'form-control' %>
       </div>
       </div>
       <div class="row">
       <div class="col-lg-5 form-group">  
       <%= form.label :endereco, :class => 'control-label' %>
       <%= form.text_field :endereco, :class => 'form-control' %>
       </div>
   
       <div class="col-lg-3 form-group">   
          <%= form.label :telefone, :class => 'control-label required' %>
          <%= form.number_field :telefone, :class => 'form-control', :onkeypress=>"mask(this, mphone);", :onblur=>"mask(this, mphone);" %>
      </div>
        </div>

  <div class="row">
          <div class="col-lg-7 form-group">  
            <input type="submit" name="commit" class="btn btn-primary colorprimarybtn" value="Salvar " data-disable-with="Salvando" />
            <%= link_to 'Voltar', clientes_path, :class => "btn btn-primary colorprimarybtn"%>
          </div>
      </div>
   <% end %>  
