<%= form_with(model: receitum) do |form| %>
  <% if receitum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(receitum.errors.count, "error") %> prohibited this receitum from being saved:</h2>

      <ul>
        <% receitum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

  <div class="col-lg-3 form-group">   
  <%= form.label :paciente, :class => 'control-label required' %>
  <%= form.text_field :paciente,  :class => 'form-control' %>
</div>

  <div class="col-lg-3 form-group">   
  <%= form.label :dosagem, :class => 'control-label required' %>
  <%= form.text_field :dosagem,  :class => 'form-control' %>
</div>
 
  <div class="col-lg-3 form-group">   
  <%= form.label :medicamento_id, :class => 'control-label required' %>
  <%= form.collection_select :medicamento_id, Fornecedor.all, :id, :nome, {:prompt => 'Selecionar'}, :class => 'form-control',:required=>true %> 
</div>
</div>

<div class="row">
<div class="col-lg-7 form-group">  
  <input type="submit" name="commit" class="btn btn-primary colorprimarybtn" value="Salvar " data-disable-with="Salvando" />
  <%= link_to 'Voltar', medicamentos_path, :class => "btn btn-primary colorprimarybtn"%>
</div>
</div>
<% end %>
