<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <p id="notice" class="alert alert-info"><%= notice %></p>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Informações do Medicamento</h5>

          <p class="card-text">
            <strong>Nome:</strong>
            <%= @medicamento.nome %>
          </p>

          <p class="card-text">
            <strong>Tipo:</strong>
            <%= @medicamento.tipo %>
          </p>

          <p class="card-text">
            <strong>Quantidade:</strong>
            <%= @medicamento.quantidade %>
          </p>

          <p class="card-text">
            <strong>Estoque:</strong>
            <%= @medicamento.estoque %>
          </p>

          <p class="card-text">
            <strong>Preço:</strong>
            <%= @medicamento.preco %>
          </p>

          <p class="card-text">
            <strong>Data de Validade:</strong>
            <%= @medicamento.data_validade %>
          </p>

          <p class="card-text">
            <strong>Fornecedor:</strong>
            <%= @medicamento.fornecedor_id %>
          </p>

          <%= link_to 'Editar', edit_medicamento_path(@medicamento), class: "btn btn-primary" %>
          <%= link_to 'Voltar', medicamentos_path, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>

